:root {
  --fallback-title-bar-height: 40px;
}

body {
  margin: 0;
  line-height: normal;
}

/* Header Section */
.draggable {
  -webkit-app-region: drag;
}

#titleBarContainer {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
  width: 100%;
  background-color: transparent;
}

/* top menu */
.settingsBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0;
  border: none;
  background: white;
  width: 32px;
  height: 32px;
  pointer-events: auto;
  right: 197px;
  bottom: 7px;
}

#settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.minimizeBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0;
  border: none;
  background: white;
  width: 32px;
  height: 32px;
  pointer-events: auto;
  left: 197px;
  bottom: 7px;
}

#minimize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.closeBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0;
  border: none;
  background: white;
  width: 32px;
  height: 32px;
  pointer-events: auto;
  left: 197px;
  bottom: 7px;
}

#close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* Main Section */
.background {
  position: absolute;
  top: 52px;
  left: 15px;
  background-color: #a7cdff;
  width: 508px;
  height: 483px;
}

.working-time {
  position: absolute;
  top: 459px;
  left: 205px;
}

.white-border {
  position: absolute;
  top: 69px;
  left: 32px;
  background-color: #d4e7ff;
  border: 10px solid #fff;
  box-sizing: border-box;
  width: 474px;
  height: 385px;
}

/* timer */
.div {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center the element */
  font-size: 59px;
  color: #76b1ff;
  text-align: center;
}

.timebox {
  display: flex;
  gap: 10px;
}

.image-icon {
  top: 90px;
  width: 312px;
  height: 194px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  position: relative;
  object-fit: cover;
}

/* menu to play, pause and restart timer */
.play-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  top: 170px;
  position: relative;
}

.restartBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  width: 37px;
  height: 37.4px;
  pointer-events: auto;
  left: 0%;
  bottom: 0%;
}

#restart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#restart:hover {
  transform: scale(1.1);
  /* Slightly enlarge the icon */
  transition: all 0.1s ease;
}

#pause:active {
  transform: scale(0.9);
  /* Slightly shrink the icon */
  transition: all 0.1s ease;
}

.pauseBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  width: 30.52px;
  height: 36.15px;
  pointer-events: auto;
  left: 0%;
  bottom: 0%;
}

#pause {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#pause:hover {
  transform: scale(1.1);
  /* Slightly enlarge the icon */
  transition: all 0.1s ease;
}

#pause:active {
  transform: scale(0.9);
  /* Slightly shrink the icon */
  transition: all 0.1s ease;
}

.playBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  width: 30.52px;
  height: 36.15px;
  pointer-events: auto;
  left: 0%;
  bottom: 0%;
}

#play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#play:hover {
  transform: scale(1.1);
  /* Slightly enlarge the icon */
  transition: all 0.1s ease;
}

#play:active {
  transform: scale(0.9);
  /* Slightly shrink the icon */
  transition: all 0.1s ease;
}

.start-menu {
  width: 100%;
  position: relative;
  background-color: #d4e7ff;
  height: 550px;
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-family: 'Baloo Chettan';
}

/* next button */
.nextBtn {
  display: none;
  -webkit-app-region: none;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  width: 82.06px;
  height: 45px;
  pointer-events: auto;
  left: 227px;
  top: 163px;
  text-align: center;
}

#next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#next:hover {
  transform: scale(1.1);
  /* Slightly enlarge the icon */
  transition: all 0.1s ease;
}

#next:active {
  transform: scale(0.9);
  /* Slightly shrink the icon */
  transition: all 0.1s ease;
}

/* checkmark button */
.checkBtn {
  display: none;
  -webkit-app-region: none;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  width: 47.12px;
  height: 45px;
  pointer-events: auto;
  left: 247px;
  top: 163px;
  text-align: center;
}

#check {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#check:hover {
  transform: scale(1.1);
  /* Slightly enlarge the icon */
  transition: all 0.1s ease;
}

#check:active {
  transform: scale(0.9);
  /* Slightly shrink the icon */
  transition: all 0.1s ease;
}

#dialogImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 289px;
  height: 183px;
  object-fit: cover;
}

.yesBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  width: 67px;
  height: 32px;
  pointer-events: auto;
  left: 0%;
  top: 123px;
}

#yes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#yes:active {
  transform: scale(0.9);
  /* Slightly shrink the icon */
  transition: all 0.1s ease;
}

.noBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  width: 67px;
  height: 32px;
  pointer-events: auto;
  left: 0%;
  top: 123px;
}

#no {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#no:active {
  transform: scale(0.9);
  /* Slightly shrink the icon */
  transition: all 0.1s ease;
}

.buttonArea {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#dialogBox {
  width: 289px;
  height: 183px;
  padding: 0%;
  border: none;
  background-color: transparent;
}

.yepBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  width: 67px;
  height: 32px;
  pointer-events: auto;
  left: 0%;
  top: 123px;
}

#yep {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#yep:active {
  transform: scale(0.9);
  /* Slightly shrink the icon */
  transition: all 0.1s ease;
}

.oopsBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  width: 67px;
  height: 32px;
  pointer-events: auto;
  left: 0%;
  top: 123px;
}

#oops {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#oops:active {
  transform: scale(0.9);
  /* Slightly shrink the icon */
  transition: all 0.1s ease;
}

#confirmDialogImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 307px;
  height: 210px;
  object-fit: cover;
}

#checkDialog {
  width: 307px;
  height: 210px;
  padding: 0%;
  border: none;
  background-color: transparent;
}

.touch-some-grass {
  top: 97px;
  left: 63px;
  position: absolute;
  display: none;
}

.grab-a-snack {
  position: absolute;
  top: 100px;
  left: 375px;
  display: none;
}

.move {
  position: absolute;
  top: 172px;
  left: 84px;
  display: none;
}

.noot-noot {
  position: absolute;
  top: 178px;
  left: 384px;
  display: none;
}

.walk-around {
  position: absolute;
  top: 245px;
  left: 67px;
  display: none;
}

.get-some-water {
  position: absolute;
  top: 248px;
  left: 359px;
  display: none;
}
