:root {
  --fallback-title-bar-height: 40px;
  --fallback-title-bar-width: 987px;
}

body {
  margin: 0;
  line-height: normal;
}

/* Header Section */
.draggable {
  -webkit-app-region: drag;
}

#titleBarContainer {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
  width: 100%;
  background-color: transparent;
}

/* top menu */
.settingsBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0; 
  border: none; 
  background: white; 
  width: 32px; 
  height: 32px; 
  pointer-events: auto;
  right: 197px;
  bottom: 7px;
}

#settings {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.minimizeBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0; 
  border: none; 
  background: white; 
  width: 32px; 
  height: 32px; 
  pointer-events: auto;
  left: 197px;
  bottom: 7px;
}

#minimize {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.closeBtn {
  -webkit-app-region: none;
  position: relative;
  padding: 0; 
  border: none; 
  background: white; 
  width: 32px; 
  height: 32px; 
  pointer-events: auto;
  left: 197px;
  bottom: 7px;
}

#close { 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* Main Section */
.background {
  position: absolute;
  top: 52px;
  left: 15px;
  background-color: #a7cdff;
  width: 508px;
  height: 483px;
}

.working-time {
  position: absolute;
  top: 459px;
  left: 123px;
}

.white-border {
  position: absolute;
  top: 69px;
  left: 32px;
  background-color: #d4e7ff;
  border: 10px solid #fff;
  box-sizing: border-box;
  width: 474px;
  height: 385px;
}

/* timer */
.div {
  position: absolute;
  top: 200px;
  left: 75px;
  font-size: 59px;
  color: #76b1ff;
}

.timebox {
  display: flex;
  gap: 10px;
}

.image-icon {
  top: 31px;
  width: 312px;
  height: 194px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  position: relative;
  object-fit: cover;
}

.play-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.timer-buttons-icon {
  top: 106px;
  position: relative;
  object-fit: cover;
}

.start-menu {
  width: 100%;
  position: relative;
  background-color: #d4e7ff;
  height: 550px;
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-family: 'Baloo Chettan';
}

/* button menu */
.buttonmenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* next button */
.next {
  display: none;
}

/* checkmark button */
.checkmark {
  display: none;
}
